.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

